.folders {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  top: 3%;
}

.folder {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.6vw 0;
}

.folder img {
  margin: auto;
  padding: 0.2vw;
  border: solid transparent 0.1vw;
  width: 4vw;
}

.folder span {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.8vw;
  font-weight: 600;
  color: #ffffff;
  margin: 0.2vw auto;
  padding: 0.1vw;
  cursor: default;
  border-radius: 0.2vw;
  width: fit-content;
}

.clicked img {
  border: solid #484848 0.1vw;
}

.clicked span {
  background: #0059d1;
}
