.nav {
  height: 1.5vw;
  background: #36373a;
  border-radius: 0.5vw 0.5vw 0 0;
  display: flex;
  align-items: center;
}

.window {
  height: 30vw;
  width: 40vw;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-35%);
  background: #000000;
  border-radius: 0.5vw;
  border: solid #484848 0.1vw;
  overflow-y: auto;
}

.title {
  color: #b2b3b6;
  font-family: Montserrat;
  font-size: 0.8vw;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.round {
  height: 0.8vw;
  width: 0.8vw;
  margin-left: 0.6vw;
  border-radius: 50%;
}

.close {
  background: #ff5f57;
}

.reduce {
  background: #febc2e;
}

.expand {
  background: #28c840;
}

.main {
  padding: 0.2vw;
  font-size: 0.9vw;
  text-align: justify;
}

.main span {
  color: #c7c7c7;
  font-family: Montserrat;
  font-weight: 600;
}

.main strong {
  color: #59eaec;
  font-weight: 900;
  margin-left: 0.7vw;
  margin-right: 0.2vw;
}
