body {
  height: 100vh;
  width: 100vw;
  background: #111111;
  background-image: url('http://localhost:3000/background.png');
  background-repeat: repeat;
  background-size: 6vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
}
